/* styles written in this file is for Standard */


body	{
	margin:			0;
	padding:		0;
	font-family:		"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
}


img	{
	border:			none;
	vertical-align:		bottom;
}

label{
	cursor:			pointer;
}

input[type=submit],
input[type=button],
input[type=image],
input[type=radio],
input[type=checkbox],
button,
select,
textarea{
	-webkit-appearance:	none;
	border-radius:		0;
/*
	-webkit-tap-highlight-color: rgba(0,0,0,0);
*/
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}



h1{
	margin: 0;
	padding: 0 20px;
	height: 30px;
	font-size: 12px;
	color: #ffffff;
	line-height: 30px;
	background: #000;
}


#wrap{
}

div.current{
	margin: 10px 0;
	padding: 0 20px;
}

div.current p{
	font-size: 14px;
	line-height: 1.6;
	color: #333333;
}

div.current p span{
	font-size: 18px;
	font-weight: bold;
}

div.current p span em{
	color: #990000;
}

div.current p.path{
	font-family: 'Ricty','inconsolata',monospace;
}




div.success{
	margin: 0 0 10px 0;
	padding: 10px 20px;
	background: #ffe6e6;
}

div.success h2{
	font-size: 14px;
	line-height: 1.6;
	color: #333333;
	font-weight: bold;
}




div.error{
	margin: 0 0 10px 0;
	padding: 10px 20px;
	padding: 10px 0 10px 18px;
	background: url(../_img/err_bg.png) repeat-y #ffffe6;
}

div.error h2{
	margin: 0 0 10px 0;
	padding: 0 0 0 28px;
	height: 22px;
	font-size: 14px;
	line-height: 22px;
	color: #990000;
	font-weight: bold;
	background: url(../_img/err_cap_ico.png) no-repeat;
}

div.error ul{
	font-size: 14px;
	line-height: 1.6;
	color: #333333;
}

div.error ul li{
	position: relative;
	padding: 0 0 0 18px;
}

div.error ul li:before{
	content: '※';
	position: absolute;
	left: 0;
	top: 0;
}


form{
	margin: 10px 0;
	padding: 0 20px;
}

form select{
	padding: 5px 0;
	width: 100%;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 14px;
}

form select option{
	padding: 5px 10px;
	line-height: 14px;
}

form select option[selected]{
	background: #990000;
	color: #ffffff;
}


form select option.group-first{
	border-top: 1px dotted #333333;
}

form p{
	margin: 0 0 10px 0;
}

form #submit-button{
	width: 100px;
	height: 35px;
	font-size: 18px;
	color: #ffffff;
	line-height: 35px;
	text-align: center;
	font-weight: bold;
	background: #990000;
}

form #submit-button.designed-form-hover{
	opacity: 0.6;
}




